{% extends "header_footer.html" %}

    {% block content %}
        <div class="display-4 d-flex justify-content-center">
            <strong> Displaying Speed of Vehicles </strong>
        </div>
        <hr>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Vehicle Count</th>
                    <th scope="col">Speed of Vehicle (km/h)</th>
                    <th scope="col">Image</th>
                    <th scope="col">Violation of Speed Limit (80 km/h)</th>
                </tr>
            </thead>
            <tbody>
                {% for speed_path_tuple in speeds %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>

                        <td>{{speed_path_tuple[0]}}</td>
                        
                        <td><img src="{{speed_path_tuple[1]}}" alt="" srcset=""></td>
                        
                        {% if speed_path_tuple[0] | int > 80 %}
                            <td>{{"YES"}}</td>
                        {% else %}
                            <td>{{"NO"}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}