{% extends "header_footer.html" %}

    {% block content %}
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-center">
                    <button class="btn btn-light"> <a href="{{url_for("display")}}"> Click here to Display Speed of Vehicles! </a> </button>
                </div>
            </div>
            <hr>
            <div class="display-4 d-flex justify-content-center">
                <strong> Displaying Speed of Vehicles </strong>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3 d-flex justify-content-center">
                    <h5> Vehicle Count </h5>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <h5> Speed of Vehicle (km/h) </h5>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <h5> Image Path </h5>
                </div>
                <div class="col-sm-3 d-flex justify-content-center">
                    <h5> Violation of Speed Limit (80 km/h) </h5>
                </div>
            </div>

            {% for speed_path_tuple in speeds %}   
                <div class="row">
                    <div class="col-sm-3 d-flex justify-content-center">
                        <h5> {{loop.index}} </h5>
                    </div>
                    <div class="col-sm-3 d-flex justify-content-center">
                        <h6> {{speed_path_tuple[0]}} </h6>
                    </div>
                    <div class="col-sm-3 d-flex justify-content-center">
                        <button class="btn btn-light"> <a href="{{speed_path_tuple[1]}}"> {{speed_path_tuple[1]}} </a> </button>
                    </div>
                    <div class="col-sm-3 d-flex justify-content-center">
                        <h6> 
                            {% if speed_path_tuple[0] | int > 80 %}
                                {{"YES"}}
                            {% else %}
                                {{"NO"}}
                            {% endif %}
                        </h6>
                    </div>
                </div>
            {% endfor %}
            
    {% endblock %}