{% extends "header_footer.html" %}

    {% block content %}
        <div class="display-4 d-flex justify-content-center">
            <strong> Estimating the speed of vehicles </strong>
        </div>
        <hr>

        <form class="form-inline justify-content-center" method="POST" action={{url_for("email_sent")}}>
            
            <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                <div class="input-group-text">Enter Email</div>
                </div>
                <input type="email" class="form-control" id="email" name="email" placeholder="To send you the PDF">
            </div>
            
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>

        <hr>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Vehicle Count</th>
                    <th scope="col">Speed of Vehicle (km/h)</th>
                    <th scope="col">Image</th>
                    <th scope="col">Violation of Speed Limit (80 km/h)</th>
                </tr>
            </thead>
            <tbody>
                {% for speed_path_tuple in speeds %}
                    <tr>
                        <th scope="row">{{loop.index}}</th>

                        <td>{{speed_path_tuple[0]}}</td>
                        
                        <td><img src="{{speed_path_tuple[1]}}" alt="" srcset=""></td>
                        
                        {% if speed_path_tuple[0] | int > 80 %}
                            <td>{{"YES"}}</td>
                        {% else %}
                            <td>{{"NO"}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <form class="form-inline justify-content-center" method="POST" action={{url_for("email_sent")}}>
            
            <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                <div class="input-group-text">Enter Email</div>
                </div>
                <input type="email" class="form-control" id="email" name="email" placeholder="To send you the PDF">
            </div>
            
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    {% endblock %}