{% extends "header_footer.html" %}

    {% block content %}

            <!-- Form to take video file as input -->
            <form action="{{url_for("video_file_upload")}}" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="col-sm-4">
                        <label for="id_video_file">Upload video file</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="file" class="form-control-file" id="id_video_file" name="video_file" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-outline-dark">Submit</button>
                    </div>
                </div>
            </form>
    {% endblock %}



