{% extends "header_footer.html" %}

    {% block content %}

        <h1>{{top_left_coordinates_x}}</h1>
        <h1>{{top_left_coordinates_x}}</h1>

        <h1>{{top_right_coordinates_x}}</h1>
        <h1>{{top_right_coordinates_y}}</h1>
        
        <h1>{{bottom_left_coordinates_x}}</h1>
        <h1>{{bottom_left_coordinates_y}}</h1>
        
        <h1>{{bottom_right_coordinates_x}}</h1>
        <h1>{{bottom_right_coordinates_y}}</h1>

        <h1>{{fps_of_video}}</h1>
        <h1>{{calibration_distance}}</h1>
        <h1>{{traffic_flow}}</h1>

    {% endblock %}